@page "/"
@page "/playground"

<div class="container-fluid">
    <button style="" type="button" class="btn btn-outline-success" onclick="@(async () => await Mutate())">Run</button>
    <div class="row">
        <div class="mt-1 col-6">
            <h3 style="display:inline-block" class="text-white">Unit tests</h3>
            
            <StandaloneCodeEditor @ref="TestCodeEditor" Id="test-code-editor" ConstructionOptions="EditorConstructionOptions"/>
        </div>
        
        <div class="mt-1 col-6">
            <h3 class="text-white">System under test</h3>
            <StandaloneCodeEditor @ref="SourceCodeEditor" Id="source-code-editor" ConstructionOptions="EditorConstructionOptions"/>
        </div>
    </div>
    
    <div class="row">
        <Xterm @ref="Terminal" Options="PlaygroundConstants.XTermOptions" OnFirstRender="@OnFirstRender" />
    </div>
</div>