@page "/"
@page "/playground"

<h3>Playground</h3>

<button onclick="@(async () => await Mutate())">Run</button>
<StandaloneCodeEditor @ref="Editor" Id="code-editor" ConstructionOptions="EditorConstructionOptions" />